# The binary file (executable)
unnamed_lua_binder

# The build folder
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files, just in case
*~
